<p>
    <mat-toolbar color="primary">
        <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            [routerLink]="['/']"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <span
            id="title"
            class="title"
        >About</span>

        <span class="example-spacer"></span>
        <button
            mat-icon-button
            [routerLink]="['/']"
        >
            <mat-icon>keyboard_backspace</mat-icon>
        </button>

    </mat-toolbar>
</p>
<div style="padding: 10px;">
    <h2>Workshop Angular Testing</h2>
    <h3>Jasmine e Karma</h3>
    <h3 id="author">Lyndon Tavares - Novembro 2021</h3>
    <a href="https://github.com/lyndontavares/angular-13-jasmine">https://github.com/lyndontavares/angular-13-jasmine</a>
</div>
